<!-- Meta Description -->
<%- include('./head-components/meta-description.ejs'); %>

<!--  -->
<%- include('./head-components/external-links.ejs'); %>

<!--  -->
<!-- Favicons -->
<%- include('./head-components/favicons.ejs'); %>

<!--  -->
<title>DataXpress</title>
