<div class="tabs row gap-2 p-all_2">
  <div class="tab col-12-xs col-6-md col-4-xl">
    <h2>About Company</h2>
    <p>
      DataXpress is a Professional Data Analytics, Consulting and Solution
      Delivery Company with certified team of professionals in orienting Data
      solutions.
    </p>
  </div>

  <div class="tab col-12-xs col-6-md col-4-xl">
    <h2>Contact us</h2>
    <ul class="nav">
      <li>
        <a href="https://goo.gl/maps/msDGacu77DMLZT8s7"
          ><i class="fa fa-location-arrow"></i> Line B, Flat 1, Railway Police
          Quaters, Opposite Union Bank, Ogui Road.</a
        >
      </li>
      <li>
        <a href="http://wa.me/2348060008247"
          ><i class="fab fa-whatsapp"></i>08060008247</a
        >
      </li>
      <li>
        <a href="mailto:dataxprofessionals@gmail.com"
          ><i class="fa fa-envelope"></i>dataxprofessionals@gmail.com</a
        >
      </li>
    </ul>
  </div>

  <div class="tab col-12-xs col-6-md col-4-xl">
    <h2>Site map</h2>
    <ul class="nav">
      <li>
        <a href=""><i class="fa fa-user"></i> Login to Account</a>
      </li>
      <li>
        <a href=""><i class="far fa-handshake"></i>Become a Partner</a>
      </li>
      <li>
        <a href="">
          <i class="far fa-question-circle"></i>Frequently Asked Questions</a
        >
      </li>
    </ul>
  </div>
</div>
<div class="copyright">DataXpress Professionals &copy; 2021</div>
