<section class="JoinForum row p-x_2 gap-2 align-items-c p-y_3">
  <div class="col-12-xs col-6-md">
    <h2>Join our Data Training Platform that is launching soon</h2>
    <p>
      Follow us and stay connected, updated and recieve latest news on
      DataXpress
    </p>
  </div>
  <div class="col-12-xs col-6-md">
    <div class="form-wrapper">
      <div class="form">
        <form action="">
          <div class="form-group">
            <input type="text" placeholder="full name" />
          </div>
          <div class="form-group">
            <input type="number" placeholder="phone number" />
          </div>
          <button>Join the Community</button>
        </form>
      </div>
    </div>
  </div>
</section>
