<nav class="top-nav nav" id="nav">
  <div class="navigation">
    <ul class="nav-list dis-flex jus-cont-sb close">
      <li class="nav-item">
        <a class="nav-link" href="/index.html#benefits"> Our Services </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/index.html#about">Solutions </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/index.html#Forum">Blog </a>
      </li>

      <li class="nav-item" id="">
        <a class="nav-link" href="/index.html#footer">About </a>
      </li>
      <li class="nav-item" id="">
        <a class="nav-link" href="/account">My account </a>
      </li>
    </ul>
  </div>

  <div class="menu-toggle svgContainer trigger-toggle">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
  </div>
</nav>
