<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./modules/head.ejs') ; %>
  </head>
  <body>
    <header class="header"><%- include('./components/header.ejs') %></header>
    <main class="main">
      <!-- Hero Section -->
      <h2>km</h2>
    </main>
  </body>
</html>
