<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./modules/head.ejs') ; %>
  </head>
  <body>
    <header class="header dis-flex jus-cont-sb">
      <div class="logo">
        <p>Gig Hire</p>
      </div>
      <nav class="nav">
        <a href="">Submit</a>
      </nav>
    </header>
    <main class="main">
      <div class="gigs row gap-2">
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 1</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 2</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 3</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 4</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 4</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 4</div>
        </div>
        <div class="col-12-xs col-6-sm col-3-md col-2-lg">
          <div class="gig">Gig 4</div>
        </div>
      </div>
    </main>
  </body>
</html>
