@mixin card() {
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.308);
  @content;
}

.gigs {
  width: calc(100% + 40px);
  margin-left: -20px;
}
.gig {
  @include card();
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
}
