<section class="data-analysts p-all_2 m-bottom_3">
  <h2 class="section-title m-bottom_3">
    You need Data Analysts in your Business to:
  </h2>

  <div class="cards row gap-2">
    <div class="col-12-xs col-4-md">
      <div class="card">
        <div class="svgContainer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
            />
          </svg>
        </div>
        <p>Predict valuable data trends for business</p>
      </div>
    </div>

    <div class="col-12-xs col-4-md">
      <div class="card">
        <div class="svgContainer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z"
            />
          </svg>
        </div>
        <p>Increase your daily personal efficiency</p>
      </div>
    </div>

    <div class="col-12-xs col-4-md">
      <div class="card">
        <div class="svgContainer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M5 2a2 2 0 00-2 2v14l3.5-2 3.5 2 3.5-2 3.5 2V4a2 2 0 00-2-2H5zm4.707 3.707a1 1 0 00-1.414-1.414l-3 3a1 1 0 000 1.414l3 3a1 1 0 001.414-1.414L8.414 9H10a3 3 0 013 3v1a1 1 0 102 0v-1a5 5 0 00-5-5H8.414l1.293-1.293z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
        <p>Drive effective decision-making to results</p>
      </div>
    </div>
  </div>
</section>
