<section class="choose-data-analysts p-all_2">
  <h2 class="section-title">You need Data Analysts in your Business to:</h2>

  <div class="cards row gap-2">
    <div class="card col-12-xs col-4-md">
      <i class="material-icons">batch_prediction</i>
      <p>Predict valuable data trends for business</p>
    </div>

    <div class="card col-12-xs col-4-md">
      <i class="material-icons">money</i>
      <p>Increase your daily personal efficiency</p>
    </div>

    <div class="card col-12-xs col-4-md">
      <i class="material-icons">grain</i>
      <p>Drive effective decision-making to results</p>
    </div>
  </div>
</section>
