<section id="hero" class="p-all_2">
  <div class="slides-container">
    <div class="slides">
      <div
        class="slide"
        style="background-image: url('/images/DataXpressLogo.png')"
      >
        <div class="">
          <h1>EXPERTS IN <span>DATA &</span> <span>ANALYSIS</span></h1>
        </div>
      </div>
      <div class="slide">
        <div class="">
          <h1>
            As the workplace becomes more tech-driven and fast-paced, data
            analysis and the skills gained from data analysis courses are going
            to play an increasingly important role in business.
          </h1>

          <button>Get Started</button>
        </div>
      </div>
    </div>
  </div>
</section>
