<section class="reasons p-y_3 m-bottom_3">
  <h2 class="section-title m-bottom_3 p-all_2">Why Choose DataX?</h2>

  <div class="cards row gap-2 jus-cont-sb">
    <div
      class="col-12-xs col-4-md"
      style="background-image: url(/public/images/productivity.jpg)"
    >
      <div class="card">
        <div class="">
          <h2>Industrial Experts</h2>
          <div class="dot"></div>

          <p>
            Data Analysts of DataXpress Profesionals are indeed reliable experts
            in this field to be trusted with on your data work and their
            delivery process
          </p>
        </div>

        <a class="btn" href="./VerifedAnalysts.html">DataXpress Experts</a>
      </div>
    </div>
    <div
      class="col-12-xs col-4-md"
      style="background-image: url(/public/images/deliver\ just\ in-time.png)"
    >
      <div class="card">
        <div class="">
          <h2>Timely delivery</h2>
          <div class="dot"></div>
          <p>
            Whether a little analysis for project research or a Big Data Survey
            for Consumers behaviour; we deliver, just on-time.
          </p>
          <a class="btn" href="./VerifedAnalysts.html"
            >Our timely process<i class="far fa-clock"></i
          ></a>
        </div>
      </div>
    </div>

    <div
      class="col-12-xs col-4-md"
      style="background-image: url(/public/images/data-trend.jpg)"
    >
      <div class="card">
        <div class="">
          <h2>Transparent Pricing</h2>

          <p>
            Our open and consistent pricing process for all of the services we
            render will definitely make you come again.
          </p>
          <a class="btn" href="./VerifedAnalysts.html"
            ><i class="far fa-smile"></i>Our existing Customers</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
