<section id="benefits">
  <h2 class="section-title p-all_2 m-bottom_1">Services we currently offer</h2>
  <div class="cards services row gap-2">
    <div class="col-12-xs col-4-md">
      <div class="card service">
        <h3 class="service-title">Data Analysis and interpretation</h3>
        <div class="service-illustration image">
          <img src="/images/consultancy.jpg" alt="" />
        </div>
        <p class="service-description">
          Working towards uncovering latest trends and patterns in datasets, and
          determining the conslusions, significance and implications of the
          findings
        </p>
      </div>
    </div>
    <div class="col-12-xs col-4-md">
      <div class="card service">
        <h3 class="service-title">Data Visualization</h3>
        <div class="service-illustration image">
          <img src="/images/consultancy.jpg" alt="" />
        </div>
        <p class="service-description">
          Translate all technical data using easier and more understandable
          visual format
        </p>
      </div>
    </div>
    <div class="col-12-xs col-4-md">
      <div class="card service">
        <h3 class="service-title">Data Mining</h3>
        <div class="service-illustration image">
          <img src="/images/consultancy.jpg" alt="" />
        </div>
        <p class="service-description">
          Re-invention of the wheel is reduced by the practice of analysing
          large databases in order to generate new information
        </p>
      </div>
    </div>

    <div class="col-12-xs col-4-md">
      <div class="card service">
        <h3 class="service-title">Data Analysis Training</h3>
        <div class="service-illustration image">
          <img src="/images/consultancy.jpg" alt="" />
        </div>
        <p class="service-description">
          Ready to train students who will assist in saving and making data
          related problems understandable and easier to solve, in the future
        </p>
      </div>
    </div>
    <div class="col-12-xs col-4-md">
      <div class="card service">
        <h3 class="service-title">Statistical Consulting Services</h3>
        <div class="service-illustration image">
          <img src="/images/consultancy.jpg" alt="" />
        </div>
        <p class="service-description">
          we can also help in making data-related problems easier with our
          consultancy services. if you need a guide in data management
          techniques, in reseach problems.
        </p>
      </div>
    </div>
  </div>
</section>
