<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataXpress Professionals</title>

    <%- include('../modules/head') %>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header dis-flex jus-cont-sb p-all_2">
      <%- include('../components/Header.ejs'); %>
    </header>

    <!-- MAIN -->
    <main>
      <div class="">Log in to account</div>
    </main>
  </body>
</html>
