/* COLORS */
$primary: hsl(225, 73%, 15%);
$secondary: hsl(225, 74%, 50%);
$tetiary: hsl(6, 85%, 60%);

$white: hsl(0, 0, 100%);
$black: hsl(0, 0, 0%);

$trans_blue: hsla(225, 73%, 15%, 0.05);

/* MEDIA SCREEN BREAKPOINTS */
$breakpoints: (
  "xs": "0",
  "sm": "480px",
  "md": "720px",
  "lg": "960px",
  "xl": "1200px",
);

/* MEDIA SCREENS */
$mobile: 480px;
$tablet: 720px;
$laptop: 960px;
$desktop: 960px;
